@import 'bootstrap';
@import 'bootstrap-icons';

:root {
  --br-primary: rgb(228, 115, 23);
  --br-warning: rgb(255, 208, 0);
  --br-danger: rgb(255, 27, 20);
}


body {
  font-family: 'Outfit Variable', sans-serif;
}

/* #region header  */
.menu_item {
  padding-bottom: 40px;
  text-decoration: none;
  color: rgb(255, 255, 255);

  &:hover {
    color: var(--br-primary);
    border-bottom: 4px solid var(--br-primary);
  }
}

/* #endregion header  */


/* #region main */

main {
  .btn {
    background-color: var(--br-primary);
    color: white;

    &:hover {
      border-color: var(--br-primary);
      background-color: transparent;
      color: var(--br-primary);
      font-weight: 700;

    }


  }

  .danger {
    background-color: var(--br-danger);

    &:hover {
      border-color: var(--br-primary);
      background-color: transparent;
      color: var(--br-primary);
    }
  }

  .warning {
    background-color: var(--br-warning);
    color: black;

    &:hover {
      border-color: var(--br-primary);
      background-color: transparent;
      color: var(--br-primary);
    }
  }

  .badge {
    &.scheduled {
      background-color: cornflowerblue;
    }

    &.inProgress {
      background-color: limegreen;
    }

    &.finished {
      background-color: rgb(231, 49, 49);
    }
  }

  table {
    th {
      line-height: 1rem;
      vertical-align: 1rem;
    }
  }

  ;

}


/* #endregion main */


/* #region footer*/
footer {
  a {
    text-decoration: none;
    color: rgb(255, 255, 255);

    &:hover {
      color: var(--br-primary)
    }
  }
}

/* #endregion footer*/